html, body {
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	text-align: center;
}

.big {
	font-size: 28px;
}

.red {
	color: #d93f3f;
}

.darkred {
	color: #b81414;
}

h1 {
	line-height: 0px;
}

div.parent {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-50%);
}

img.background {
	position: absolute;
	z-index: -1;
	height: 100vh;
	top: 0px;
	left: 0px;
}
