html, body {
	font-family: Lato, system-ui, sans-serif;
	font-size: 1.1em;
	text-align: center;
}

.big {
	font-size: 1.3em;
}

.red {
	color: #d93f3f;
}

.darkred {
	color: #b81414;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 0px;
}

.parent {
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-50%);
}

.tobig {
	animation-name: tobig;
	-webkit-animation-name: tobig;
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes tobig {
	from {
		font-size: 1.1em;
	}
	to {
		font-size: 1.3em;
	}
}

img.apple {
	width: 75%;
	max-width: 500px;
}
